/* style.css for Colmar Academy */

/* UNIVERSAL styles */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #424242;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding: 32px 24px;
}

.flexbox {
  display: flex;
}

.main {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin-right: 24px;
}

.gray {
  background-color: #dcdcdc;
}

.mobile {
  display: none;
}



/* HEADER */
header {
  height: 64px;
  padding-left: 24px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-items: center;
  text-transform: uppercase;
}

b {
  font-weight: 600;
}

.logo span {
  font-weight: 400;
  color: #828282;
}

nav {
  margin-right: 24px;
}

header li {
  font-size: 0.8rem;
  list-style: none;
  margin-left: 16px;
}

.collapsed {
  display: none;
}



/* BANNER */
#banner .textbox {
  margin-left: 16px;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

#banner h3 {
  margin: 2rem 0;
}

#start {
  width: 80%;
  background-color: #424242;
  color: white;
  padding: 8px 0;
  text-align: center;
}



/* INFO */
#info {
  padding-right: 0;
}
#info h2 {
  margin: 32px 0 24px 0;
}

.main p {
  margin-bottom: 2rem;
}

.main span {
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
}

.flexitem {
  width: 40%;
}

.box {
  padding: 16px 16px;
}

.box .image {
  width: 35%;
  height: auto;
}

.box .text {
  margin-left: 16px;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.box p {
  margin: 8px 0;
}

.box a {
  text-decoration: none;
  color: #0080ff;
}

#orientation {
  padding-top: 0;
}



/* COURSES */
#courses {
  padding: 32px 72px;
}

#courses h2 {
  text-align: center;
  margin-bottom: 32px;
}

#courses .flexbox {
  width: 100%;
}

.course {
  margin-right: 32px;
  background-color: white;
}

.course:last-child {
  margin-right: 0;
}

.course img{
  height: auto;
}

.course .text {
  padding: 16px;
}

.course p:nth-child(2n) {
  text-transform: uppercase;
  margin: 8px 0;
}

.flexbox:nth-child(3n) {
  margin-top: 32px;
}



/* THESIS EXHIBITION */
#thesis {
  padding-right: 0;
}

#thesis h2 {
  text-align: center;
  margin: 32px 0;
}

#video.flexbox {
  flex-direction: column;
  width: 60%;
  margin-right: 24px;
}

video {
  margin-bottom: 24px;
}

#video h3 {
  margin-bottom: 8px;
}

#video.textbox {
  margin-bottom: 32px;
}



/* FOOTER */
footer.flexbox {
  justify-content: space-between;
  font-size: 0.6rem;
  border-top: 1px solid #dcdcdc;
}

footer.container {
  padding-top: 16px;
}

footer span {
  margin-left: 16px;
}



/* MOBILE */
@media only screen and (max-width: 720px) {

/* Universal */
  .container {
    padding: 0;
  }

  .main {
    width: 100%;
    margin: 0;
  }

  .logo,
  nav,
  #info
  .main,
  .desktop{
    display: none;
  }


/* Header */
  header {
    padding: 0;
  }

  .collapsed {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }


/* Banner */
  #banner {
    flex-direction: column;
  }

  #banner .textbox {
    width: auto;
    padding: 32px 16px 32px 0;
  }

  #banner h3 {
    margin: 32px 0;
  }

  #start {
    width: 100%;
    background-color: #828282;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 12px 0;
  }


/* Info */
  #info, .box, #info .gray {
    margin: 0;
    padding: 0;
  }

  #info .flexitem {
    width: 100%;
    padding: 16px 16px 0 16px;
  }

  .box {
    flex-direction: column;
  }

  #info .image {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 32px;
  }

  img.mobile {
    width: 100%;
    height: auto;
    display: block;
  }

  #orientation .image {
    margin-top: 0;
  }

  #info .text {
    margin: 32px 0 32px 16px;
  }

  #guest {
    background-color: white;
  }


}
